/* LOGIN  and LOGOUT style  ========================================================================================*/
.mesaage-system {
  width: 298px;
  left: 523px;
  position: absolute;
  top: 30px;
}

.form-container {
  position: absolute;
  top: 15vh;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #000;
}

#login {
  position: absolute;
  right: 500px;
  background: #0f526d;
}

#logout {
  background-color: #0f526d;
}

a#register-link {
  font-size: 15px; 
  color:#ff0018; 
  text-decoration:none; 
  font-weight: bold
}
