{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'user/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/main.css' %}">

    
{% if title %}
      <title> {{title}} </title>
{% else %}  
      <title>admin-panel</title>
{% endif %}


</head>
    <body  class="login-body">

        <div class="mesaage-system">
            {% if messages %}
                <ul class="messages">
                {% for message in messages %}
                    <li style="list-style-type: none;top: -13px;" {% if message.tags %} class="{{ message.tags }} alert alert-danger session delete-btn-error"{% endif %}>{{ message }} <i class="ml-2 fa fa-times" aria-hidden="true" style="position: absolute;
                        top: 17px;
                        right: 13px;text-align:center"></i></li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="form-container" id="login-container" >
            <h3 class="login-header">se connecter</h3>
            <form method="POST" class="">
                {% csrf_token %}
                <a href="{% url 'home' %}" class="goback-btn"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                <div class="form-group">
                    <!-- <label for="exampleInputUsername" style="color: #fff;"> nom d'utilisateur</label> -->
                    <input type="text" class="form-control" id="exampleInputUsername" placeholder="Nom d'utilisateur" name="username">
                </div>
                <div class="form-group">
                    <!-- <label for="exampleInputPassword1" style="color: #fff;">mot de pass</label> -->
                    <input type="password" class="form-control password" id="exampleInputPassword1" placeholder="mot de passe" name="password">
                </div>
                <input type="submit" class="btn btn-block mt-3 text-light" value="submit" style="background-color: red; font-size: 18px">
                <div class="pt-3">
                    <span class="footer">si vous n'avez pas de compte, vous pouvez <a href="{% url 'register' %}"  id="register-link">S'inscrire</a> </span>
                </div>
            </form>
        </div>

        <div class="register-overlay" ></div>


                


        <script src="{% static 'user/js/jquery-3.3.1.slim.min.js' %}"></script>
        <script src="{% static 'user/js/popper.min.js' %}"></script>
        <script src="{% static 'user/js/fontawesome-all.min.js' %}"></script>
        <script src="{% static 'user/js/bootstrap.min.js' %}"></script>    
        <script src="{% static 'user/js/main.js' %}"></script>
    </body>
</html>
            

            