{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'user/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/css/font-awesome.min.css' %}">
  <title>Document</title>
</head>
<body class="register-body">
  


   <div  id="register-container">
        <a href="{% url 'home' %}" class="goback-btn"><i class="fa fa-arrow-left"></i></a>
       <h3 class="register-header">S'inscrire nouveau compte</h3>
       <form  method="post" class="form">
        {% csrf_token %}
        
        
        {% for input in user %}
          
            {{input}}
            <div class="text-danger ml-3" class="error-input-message" id="error{{forloop.counter}}"  hidden><i class="fas fa-exclamation-triangle text-danger mr-1"></i></div>
          
        {% endfor %}
          <button type="submit" class="submit-btn">
            valider
            <i class="fas fa-arrow-right" style="margin-left: 5px;"></i>
          </button>
      </form>
       <div>
           <span class="footer">si vous aviez un compte auparavant, vous pouvez <a href="{% url 'login' %}">se connecter ici</a> </span>
       </div>
  </div>

  <div class="register-overlay" ></div>

  <script src="{% static 'dashboard/js/fontawesome-all.min.js' %}"></script>
   <script defer src="{% static 'dashboard/js/order.js' %}"></script>

  </body>
</html>