{% load static %}
<!DOCTYPE html>

<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>university</title>
    <link rel="stylesheet" href="{% static 'adminn/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminn/css/style.css' %}">

</head>

<body>
      <div class="upper-bar">
              <div class="container">
                  <div class="row">
                      <div class="col-sm">
                        <i class="fa fa-phone"></i> <span>045 71 66 89</span>,
                        <i class="fas fa-envelope"></i> rectorat@univ-mascara.dz
                      </div>
                      <div class="col-sm">
                              <span>Mustapha STAMBOULI Mascara, 29000 Algeria.</span>
                              <span class="get-quote"> Search here</span>
                      </div>
                  </div>
              </div>
      </div>

      <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container">
                  <span>
                    <img src="{% static 'adminn/images/univ-logo.jpg' %}" style="height: 77px;
                    width: auto;
                    margin-right: 20px;" alt="logo of university">
                  </span>
                  <a class="navbar-brand" href="#">
                          <span>Mustapha</span><span>Stambouli</span>
                  </a>

                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#min-nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>


                  <div class="collapse navbar-collapse" id="min-nav">
                      <ul class="navbar-nav ml-auto">
                          <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(active)</span></a>
                          </li>
                          <li class="nav-item ">
                                  <a class="nav-link" href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> log in</a>
                          </li>
                          <!-- <li class="nav-item ">
                                  <a class="nav-link" href="{% url 'register' %}">register</a>
                          </li> -->
                      </ul>
                  </div>
          </div>
        </nav>
        <div class="slider">
            <div id="main-slider" class="carousel slide" data-ride="carousel">

              <div class="carousel-inner">
                <h1>we're an Independent <br> University and <span>Developed</span> <br>generation.</h1>
                
                <div class="overlay"></div>

                <div class="carousel-item carousel-one active">
                </div>
                <div class="carousel-item carousel-two">
                </div>
                <div class="carousel-item carousel-three">
                </div>
                <div class="carousel-item carousel-four">
                </div>
              </div>

              <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
                <li data-target="#main-slider" data-slide-to="3"></li>
              </ol>

            </div>
        </div>


        <!-- <!-- <div class="features text-center"> -->
          <!-- <div class="container">
            <div class="row">
               <div class="col-sm-6 col-lg-3">
                 <i class="fa fa-home fa-3x rounded-circle"></i>
                 <h3>Great Idea</h3>
                 <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit impedit ea mollitia unde rem tenetur quod explicabo? Provident</p>
               </div>
               <div class="col-sm-6 col-lg-3">
                <i class="fa fa-home fa-3x rounded-circle"></i>
                <h3>Great Idea</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit impedit ea mollitia unde rem tenetur quod explicabo? Provident</p>
              </div>
              <div class="col-sm-6 col-lg-3">
                <i class="fa fa-home fa-3x rounded-circle"></i>
                <h3>Great Idea</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit impedit ea mollitia unde rem tenetur quod explicabo? Provident</p>
              </div>
              <div class="col-sm-6 col-lg-3">
                <i class="fa fa-home fa-3x rounded-circle"></i>
                <h3>Great Idea</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit impedit ea mollitia unde rem tenetur quod explicabo? Provident</p>
              </div>
            </div>
          </div>
        </div> -->



        <!-- Overview block-->
        <!-- <!-- <div class="overview text-center"> -->
          <!-- <div class="container">
            <h2>university overview</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloribus repudiandae nisi quam quos voluptas voluptatibus consequatur, numquam similique sint deleniti, pariatur itaque. Voluptates odio in, inventore deleniti eius quia?</p>
            <h4>let's start today</h4>
            <button> view more</button>
          </div>
        </div> --> -->


        <!-- featured work-->
<!-- 
        <div class="freatured-work text-center">
          <h2>Featured studies</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est culpa laudantium aliquid consequuntur optio autem harum quibusdam quo. Officia excepturi debitis expedita, optio adipisci quasi corrupti quos dolorum error! Eligendi.</p>
          <ul class="list-unstyled row">
            <li class="active col-md">All</li>
            <li class="col-md">Websites</li>
            <li class="col-md">Logos</li>
            <li class="col-md">Graphic Design</li>
            <li class="col-md">Videos</li>
          </ul>
        </div> -->


        <!--latest posts -->

        <!-- <div class="latest-posts p-5 text-center">
          <div class="contianer">
            <h2 class="text-center">latest posts</h2>
            <p class="text-center mb-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias, consequuntur amet ipsa molestiae facere voluptatum esse corrupti eaque facilis cupiditate! Sed earum illo officiis deleniti inventore unde consectetur iste deserunt.</p>
            <div class="row">
              <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-auto col-xl-3 mb-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="contact-us">
          <div class="container">
            <div class="row">
              <div class="col-md-6 text-left">
                <p>You think we are cool ? let's work together</p>
              </div>
              <div class="col-md-6 text-right">
                <a href="#" class="contact-btn">contact us</a>
              </div>
            </div>
          </div>
        </div> -->



        <!-- footer part-->
<!-- 
        <div class="footer">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="site-info">
                  <h2><span>Mustapha</span><span>Stambouli</span></h2>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed tenetur temporibus aperiam nam rerum atque officia non, eius quas asperiores impedit placeat pariatur aut ex. Expedita quod ducimus consequuntur magni?</p>
                  <a href="#"><i class="fas fa-chevron-circle-right"></i> Read more</a>
                </div>
              </div>
              <div class="col-md-3">
                <div class="helpful-links">
                  <h2>Helpful links</h2>
                  <div class="row">
                    <div class="col">
                      <ul class="list-unstyled">
                        <li><i class="fas fa-angle-right"></i> About</li>
                        <li><i class="fas fa-angle-right"></i> Team</li>
                        <li><i class="fas fa-angle-right"></i> Pravacy</li>
                      </ul>
                    </div>
                    <div class="col">
                      <ul class="list-unstyled">
                        <li><i class="fas fa-angle-right"></i> FAQ</li>
                      <li><i class="fas fa-angle-right"></i> Contact</li>
                      </ul>
                    </div>
                  </div>                  
                </div>
              </div>
              <div class="col-md-3">
                <div class="contact">
                  <h2>Contact Us</h2>
                  <ul class="list-unstyled">
                    <li>university Mustapha STAMBOULI Mascara, 29000 Algeria.</li>
                    <li><i class="fa fa-phone"></i> 045 71 66 89</li>
                    <li><a href="mailto:rectorat@univ-mascara.dz?subject=Contact"><i class="fas fa-envelope"></i> rectorat@univ-mascara.dz</a></li>
                  </ul>                  
                </div>
              </div>
            </div>
            <div class="copy-right">
              <div class="row">
                <div class="col text-left text-uppercase">
                  <p>copy right 2020 &copy; All right reserved</p>
                </div>
                <div class="col text-right">
                  <ul class="list-unstyled">
                    <li><a href="#"> <i class="fab fa-facebook-f text-primary"></i></a></li>
                    <li><a href="#"> <i class="fab fa-twitter text-primary"></i></a></li>
                    <li><a href="#"> <i class="fab fa-linkedin text-primary"></i></a></li>
                    <li><a href="#"> <i class="fab fa-google-plus text-primary"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div> --> 

        































   <!-- <section>

         {% block content %}

         {% endblock  %}
   </section>

   <footer class="foot">
     <div class="row">
       <div class="col">
         <ul>
           <li>Our Work</li>
            <li>Services</li>
            <li>About Us</li>
            <li>Insights & News</li>
            <li>Partners</li>
            <li>Careers</li>
            <li>Contact Us</li>
         </ul>
       </div>
       <div class="col">
         Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
       </div>
       <div class="col">
         the second part
       </div>
     </div>

   </footer> -->

    <script src="{% static 'adminn/js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'adminn/js/popper.min.js' %}"></script>
    <script src="{% static 'adminn/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'adminn/js/fontawesome-all.min.js' %}"></script>
    <script src="{% static 'adminn/js/main.js' %}"></script>


</body>
</html>
