{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/main.css' %}">
    {% if title %}
      <title> {{title}} </title>
    {% else %}  
      <title>admin-panel</title>
      {% endif %}
</head>
<body>


        <div id="wrapper" class="wrapper">
                <!-- Sidebar  -->
                  <nav id="sidebar" class="">
                    <div class="sidebar-header">
                        <h4><i class="fas fa-tachometer-alt icon"></i> Admin Panel</h4>
                    </div>
                    
                    {% if  request.user.is_staff %}                  
                      <ul class="list-unstyled components">
                        <li>
                          <a href="{% url 'all_staff' %}"><i class="fas fa-user"></i> utilisateurs</a>
                        </li>
                        <li>
                          <a href="{% url 'all_material' %}"><i class="fas fa-angle-right"></i> material</a>
                        </li>
                        <li>
                          <a href="{% url 'all_orders' %}"><i class="fas fa-angle-right"></i> ordres</a>
                        </li>
                        <li>
                            <a href="{% url 'all_teachers' %}" class="pr-3"><i class="fas fa-angle-right"></i> Enseignants</a>
                        </li>
                        <li>
                            <a href="{% url 'all_modules' %}"><i class="fas fa-angle-right"></i> Modules</a>
                        </li>
                        <li>
                            <a href="{% url 'all_classrooms' %}"><i class="fas fa-angle-right"></i> Salles</a>
                        </li>
                        <li>
                            <a href="{% url 'all_emploitemps' %}"><i class="fas fa-angle-right"></i> Emploi de temps</a>
                        </li>
                      </ul>
                    {% else %}
                      <ul class="list-unstyled components">
                          {% for permission in user.staff.permissions.all %}
                        
                            {% if permission.name  == "can_list_all_staff" %}
                              <li><a href="{% url 'new-staff' %}"><i class="fas fa-user"></i> users</a></li>                              
                            {% endif %}

                            {% if permission.name  == "can_list_all_material" %}
                              <li><a href="{% url 'all_material' %}"><i class="fas fa-angle-right"></i> material</a></li>
                            {% endif %}

                            {% if permission.name  == "can_list_all_orders" %}
                              <li><a href="{% url 'all_orders' %}"><i class="fas fa-angle-right"></i> ordres</a></li>
                            {% endif %}

                            {% if permission.name  == "can_list_all_teachers" %} 
                              <li><a href="{% url 'all_teachers' %}" class="pr-3"><i class="fas fa-angle-right"></i> Enseignants</a></li>                              
                            {% endif %}

                            {% if permission.name  == "can_list_all_modules" %}
                              <li><a href="{% url 'all_modules' %}" class="pr-3"><i class="fas fa-angle-right"></i> Modules</a></li>                             
                            {% endif %}

                            {% if permission.name  == "can_list_all_classrooms" %}
                              <li><a href="{% url 'all_classrooms' %}" class="pr-3"><i class="fas fa-angle-right"></i> Salles</a></li>                               
                            {% endif %}
                            {% if permission.name  == "can_list_all_timetables" %}
                              <li><a href="{% url 'all_emploitemps' %}" class="pr-3"><i class="fas fa-angle-right"></i> Emploi de temps</a></li>                             
                            {% endif %}
                            
                          {% endfor %}
                      </ul>
                        
    
                    {% endif %}
                    
        
                  </nav>
                
                <!-- Page Content  -->
                <div id="content">        
                        <div class="navBar" >
                            <button type="button" id="sidebarCollapse" class="btn btn-info">
                                <i class="fas fa-align-left"></i>
                            </button>                       
                                <ul class="float-right">
                                  <li class="main-list">
                                    <a class=" home" href="#">Dashboard</a>
                                  </li>
                                  <li class="main-list">
                                    <a class=" home" href="#">Another</a>
                                  </li>
                                  <li class="main-list">
                                    <img id="profile-img" src="{% static 'dashboard/imgs/admin.jpg' %}" alt="admin-phpto">
                                    <div  class="dropdown-list show">
                                      <ul class="">
                                        <li>
                                          <h6 style="color: #ea1d24;">{{user.username}}</h6>
                                          <!-- <span style="font-size: 10px; color:bisque">voir ta profile</span> -->
                                        </li>
                                        <li>Setting</li>
                                        <li>
                                          <a style="padding-left: 0; font-size:14px" href="{% url 'logout' %}">Logout</a>
                                        </li>
                                      </ul>
                                    </div>
                                </li>
                                </ul>
                        </div>

                    {% block content %}

                    {% endblock %}
                      
                </div>
            </div>
            

        <script src="{% static 'dashboard/js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'dashboard/js/popper.min.js' %}"></script>
        <script src="{% static 'dashboard/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'dashboard/js/fontawesome-all.min.js' %}"></script>
        
       
        
        
        <!-- this script is for styling the Sidebar -->
        <script>
          var sidebarColl = document.querySelector('#sidebarCollapse');
          var sidebar = document.querySelector('#sidebar');
          sidebarColl.addEventListener('click', () =>{
              sidebar.classList.toggle('active');
          });

          
          var sideBarButton = document.getElementById("sidebarCollapse");
          var wrapper = document.getElementById("wrapper");

          sideBarButton.addEventListener('click', function () {
            //alert("window is sxrolling !!!")
            //console.log("done!") 
            wrapper.classList.toggle("wrapper");            
          });


          var admin_icon = document.getElementById("profile-img");
          var dropdown_list = document.querySelector(".dropdown-list")
          admin_icon.addEventListener("click", ()=> {
            dropdown_list.classList.toggle("show")
          })

          //canceling dropdown if the user clicked anywhere 
          window.addEventListener('click', (e)=>{
            if(e.target.id !== "profile-img"){
              if(!dropdown_list.classList.contains("show")){
                dropdown_list.classList.add("show")
              }
            }
          })
        </script>
        
</body>
</html>




