{% extends "dashboard/admin_panel.html" %}


{% block content %}

<div class="container-search">
  
  <button type="button" class="btn btn-primary mb-4 adding"><a href="{% url 'new-timetable' %}"><i class="fas fa-plus-circle"></i> ajouter Emploitemp</a></button> 
  
</div>


<div class="container">
  <div id="table">
    <table class="table" >
      <thead class="thead">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nom de empoit du temps</th>
          <th scope="col">date de création</th>
          <th scope="col" class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for emploitemp in emploitemps %}
        <tr>
          <td scope="row">{{ forloop.counter|add:0 }}</td>
          <td><a href="{% url 'timetable-detail'  emploitemp.id %}" id="timetable-name">{{ emploitemp.slug}}</a></td>
          <td>{{emploitemp.created}}</td>
          <td class="td-btn" style="width: 30%;">
            <a href="#" class="mr-5 ml-5"><i class="far fa-edit text-primary" style="font-size: 25px;"></i></a>
            <a href="{% url 'delete-timetable' emploitemp.id  %}" class="mr-5 ml-5"><i class="far fa-trash-alt text-danger" style="font-size: 25px;"></i></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
  </div>
  
  <h6 class=" pb-2 border-bottom"> {{ emploitemps.count }} emploi du temps</h6>
</div>

{% endblock %}


