{% extends "dashboard/admin_panel.html" %}




{% block content %}

<a class="btn btn-primary mb-5 off-set-right" href="{% url 'new-canvas' %}">ajouter un condition</a>

    <div class="container">
      <div class="table-responsive-sm">       
        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th>niveau</th>
                <th>Semestre</th>
              </tr>
            </thead>
            <tbody>
                {% for condition in all_conditions %}
                
                  <tr>
                    {% ifchanged condition.slug %}
                      <td scope="row">{{ forloop.counter|add:0 }}</td>  
                      <td><a href="{% url 'canvas_detail' condition.id %}" class="canvas-element">{{condition.slug}}</a></td>
                      <td>{{condition.semestre}}</td>
                    {% endifchanged %}
                  </tr> 
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
{% endblock content %}