{% extends 'dashboard/admin_panel.html' %}


{% block content %}

<div class="container-search">
  <form class="form-inline my-2 my-lg-0 search">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i> Search</button>
  </form>
  <button type="button" class="btn btn-primary mb-4 adding"><a href="{% url 'new-classroom' %}"><i class="fas fa-plus-circle"></i> add Classroom</a></button> 
  
</div>
<div id="table">
  <table class="table" >
    <thead class="thead">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom de salle</th>
        <th scope="col">type de salle</th>
        <th scope="col">bloc</th>
        <th scope="col">disponible</th>
        <th scope="col" class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for salle in salles %}
      <tr>
        <th scope="row">{{ forloop.counter|add:0 }}</th>
        <td>{{ salle.design}}</td>
        <td>{{ salle.type_of}}</td>
        <td>{{ salle.bloc}}</td>
        <td>{{ salle.is_available}}</td>
        <td class="td-btn" style="width: 200px;">
          <a href="{% url 'update-classroom' salle.id %}"><i class="fas fa-pencil-alt text-primary mr-4 ml-4" style="font-size: 25px;"></i></a>
          <a href="{% url 'delete-classroom' salle.id %} "><i class="fas fa-minus-circle text-danger mr-4 ml-4" style="font-size: 25px;"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
</table>
</div>

<h6 class=" pb-2 border-bottom"> {{ salles.count }} salles</h6>

{% endblock %}