{% extends "dashboard/admin_panel.html" %}


{% block content %}
<div class="delete">
    <h3 class="border-bottom mb-3 pb-3 ens">Êtes-vous sûr de vouloir supprimer l'emploi du temps "{{timetable.slug}}"</h3>
    <form method="post">
        {% csrf_token %}
        <div class="btns ">
              <a href="{% url 'all_emploitemps' %}" class="btn btn-secondary m-1 ">annuler</a>
              <input type="submit" class="btn btn-danger m-1" value="supprimer">
        </div>
    </form>

</div>
{% endblock content %}



