{% extends 'dashboard/admin_panel.html' %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}



{% block content %}
  
  <div class="delete">
      <h3 class="border-bottom mb-3 pb-3 ens">Are you sure you want to delete "{{staff.user.username}}"</h3>
      <form method="post">
          {% csrf_token %}

          <div class="btns ">
                <input type="submit" class="btn btn-danger m-1" value="delete">
                <a href="{% url 'all_modules' %}" class="btn btn-secondary m-1 ">Go back</a>
          </div>
      </form>

  </div>
  

{% endblock %}