{% extends "dashboard/admin_panel.html" %}
{% load static %}


{% block content %}
  


    <div class="mb-5">
        
        
        

        <label for="type">departement</label>
        <select name="" id="depart" class="custom-select ml-1 mr-2" style="width: 150px;">
            <option value="">-select-</option>
            {% for ens in enseignant|dictsort:'departement' %}
            {% ifchanged %}
            <option value="{{ens.get_departement_display}}">{{ens.get_departement_display}}</option>
            {% endifchanged %} 
            {% endfor %} 
        </select>


        <button class="btn btn-success ml-5" id="searchBtn_teacher_hourlyL">chercher</button>
    </div>


    <h6 class="hint-header">"chercher par niveau , semstre et la département"</h6>

    <div class="container">
        <div id="table">
          
        </div>
    </div>



    <span class="btn btn-primary" id="pdf-btn" hidden><a id="url-anchor">charger PDF</a></span>



    <script src="{% static 'dashboard/js/order.js' %}"></script>
{% endblock content %}