{% extends "dashboard/admin_panel.html" %}




{% block content %}
 

   
    <!-- <div class="form-group">
      {% for field in our_form %}
        <label for="{{field.id_for_label}}" class="label">{{field.label_tag}}</label>
        {{field}}
      {% endfor %}
    </div> -->
    <div class="create-module-container">
      <h6 class="pt-2 ml-3 mb-3">all fields are required *</h6>
      <form method="POST">
        {% csrf_token %}

        <div class="form-row mb-5">
          <div class="col-3 mb-5">
            <!-- <label for="">Cours</label> -->
            <input type="number" class="module-input" name="cours" placeholder="Cours">
          </div>
          <div class="col-3 mb-5">
            <!-- <label for="">TP</label> -->
            <input type="number" class="module-input" name="tp" placeholder="TP">
          </div>
          <div class="col-3 mb-5">
            <!-- <label for="">TD</label> -->
            <input type="number" class="module-input" name="td" placeholder="TD">
          </div>
        
          <div class="col-3 mb-5">
            <label for="">Niveau</label>
            <select id="inputNiveau" class=" module-select-input" name="niveau">
              <option selected >Choose...</option>
              {% for niveau in niveax %}
                <option value="{{niveau.Nv}}">{{niveau.Nv}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-3 mb-5">
            <label for="">Semestre</label>
            <select id="inputSemestre" class=" module-select-input" name="semestre" disabled>
              <option selected>Choose...</option>
            </select>
          </div>
          <div class="col-3 mb-5">
            <label for="">Module</label>
            <select id="inputModule" class=" module-select-input" name="module" disabled>
              <option selected>Choose...</option>
            </select>
          </div>
        </div>
        
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
    

    <script>
      var selection = document.getElementById("inputNiveau");
      selection.addEventListener('change', (event) => {
        event.preventDefault();
        var semestre_value = document.getElementById("inputSemestre");
        var module_select = document.getElementById("inputModule");
        semestre_value.innerHTML = "";
        semestre_value.disabled = false;
        semestre_value.innerHTML = "<option selected>Choose...</option>";
        module_select.innerHTML = "";
        module_select.disabled = false;
        module_select.innerHTML = "<option selected>Choose...</option>";
        var option1 = document.createElement("option");
        var option2 = document.createElement("option");
        switch (selection.value) {
          case "licence1":
          option1.textContent = "S1";
          option2.textContent = "S2";
          semestre_value.appendChild(option1);
          semestre_value.appendChild(option2);
          break;
          case "licence2":
          option1.textContent = "S3";
          option2.textContent = "S4";
          semestre_value.appendChild(option1);
          semestre_value.appendChild(option2);
          break;
          case "Licence3":
          option1.textContent = "S5";
          option2.textContent = "S6";
          semestre_value.appendChild(option1);
          semestre_value.appendChild(option2);
          break;
          case "Master1":
          option1.textContent = "M1";
          option2.textContent = "M2";
          semestre_value.appendChild(option1);
          semestre_value.appendChild(option2);
          break;
          case "Master2":
          option1.textContent = "M3";
          option2.textContent = "M4";
          semestre_value.appendChild(option1);
          semestre_value.appendChild(option2);
          break;
        }
        fetch('http://127.0.0.1:8000/api/module-list')
        .then(module_api => module_api.json())
        .then((module_data) => {
          for (var i=0; i<module_data.length; i++) {
            if(module_data[i].niveau.Nv === selection.value) {
              var option = document.createElement("option");
              option.textContent = module_data[i].designation;
              module_select.appendChild(option);
            }
          }
        }).catch(error => console.log(error))
      });


    </script>  




{% endblock content %}