{% extends 'dashboard/admin_panel.html' %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}


{% block content %}
  <div class="create-module-container">
    <h6 class="pt-2 ml-3">all fields are required *</h6>
    <form method="post"> {% csrf_token %}

      <!-- <div class="row"> -->
        {% for input in form %}
          {% if forloop.counter <= 5 %}
            {% if forloop.counter == 1 %}
              <div class="row p-4">
            {% endif %}
            <div class="col-md-4 mb-5">
              {{input}}
            </div>   
            {% if forloop.counter == 5 %}
              </div>
            {% endif %}
          {% else %}
            {% if forloop.counter == 6 %}
              <div class="row mb-5">
            {% endif %}
            <div class="col-md-4" style="display: inline-grid;">
              <label for="{{input.id_for_label}}">{{input.label}}</label>
              {{input}}
            </div>
            {% if forloop.counter == 8 %}
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      <!-- </div> -->
        <input type="submit" value="save" class="btn btn-primary mt-5">
        <!-- <input type="submit" value="save and add another" class="btn btn-primary"> -->
    </form>
  </div>
  

{% endblock %}