{% extends 'dashboard/admin_panel.html' %}
<!-- {% load crispy_forms_tags %}
{% load bootstrap4 %} -->



{% block content %}
  <div class="create-module-container">
    <form method="post"> {% csrf_token %}
    
      <div class="row">
        {% for input in form %}
          <div class="col-6 mb-5">
            {% if forloop.counter == 3 or forloop.counter == 1 %}
              <label for="{{ input.id_for_label }}"> {{input.label}}</label>
            {% endif %}
            {{input}}
          </div>
        {% endfor %}
      </div>
        <input type="submit" value="save" class="btn btn-primary">
    </form>
  </div>
  
  

{% endblock %}