{% extends "dashboard/admin_panel.html" %}
{% load static %}




{% block content %}


<!-- <div class="mb-5" id="append_div">
    <label for="tableau">le niveau de cette tableau :</label>
    <select id="level" class="custom-select ml-1 mr-5" style="width: 130px;">
      <option value="" selected disabled>-select-</option>
      {% for level in niveau %}
        <option value="{{level}}">{{level}}</option>
      {% endfor %}  
    </select>
  
    <label for="tableau" class="ml-5">le semestre de cette emploi :</label>
    <select id="semestre" class="custom-select ml-1" style="width: 130px;" disabled>
      <option value="" selected>-select-</option>
    </select>
</div> -->
  
  
  
<div class="row mt-3 mb-5">
<span><label for="" class="pl-3 pr-3">entrer le nombre des groupes</label></span>
<span><input type="number" name="" value="{{emploitemps.group_number}}"  id="nbr-group" style="width: 70px;" disabled></span>
</div>



<div id="table-container">
    <div class="our_table" data-timetable-id="{{emploitemps.id}}" data-timetable-semester="{{emploitemps.semestree}}" data-timetable-level="{{emploitemps.level.Nv}}">
        <div class="our_row">
            <span class="our_cell times">les jours</span>
           <span class="our_cell times">8:30 - 10:00</span>
           <span class="our_cell times">10:15 - 11:45</span>
           <span class="our_cell times">11:45 - 13:30</span>
           <span class="our_cell times">13:30 - 15:00</span>
           <span class="our_cell times">15:00 - 16:30</span>
         </div>
       <div class="our_row">
          <span class="our_cell">Dimanche</span>
         <span class="our_cell our_target" id="1">
                   {% for emploitemp in emploitemps.first_first.all %}   
                      {% if emploitemp.groupe_type == 'Cours' %}
                          <div data-module="{{ emploitemp.module }}">{{ emploitemp.module }}</div>
                          <div>{{ emploitemp.enseignant }}</div>
                          <div>{{ emploitemp.salle }}</div>
                      {% elif emploitemp.groupe_type == 'TP' or emploitemp.groupe_type == 'TD' %} 
                          <span style="font-size: small; ">{{ emploitemp.groupe }} {{ emploitemp.module }} {{ emploitemp.enseignant }} {{ emploitemp.salle }} {{ emploitemp.groupe_type }}</span><br>
                      {% endif %} 
                   {% endfor %}
         </span>
         <span class="our_cell our_target" id="2">
              {% for emploitemp in emploitemps.first_second.all %}   
                      {% if emploitemp.groupe_type == 'Cours' %}
                          <div data-module="{{ emploitemp.module }}">{{ emploitemp.module }}</div>
                          <div>{{ emploitemp.enseignant }}</div>
                          <div>{{ emploitemp.salle }}</div>
                      {% elif emploitemp.groupe_type == 'TP' or emploitemp.groupe_type == 'TD' %} 
                          <span style="font-size: small; ">{{ emploitemp.groupe }} {{ emploitemp.module }} {{ emploitemp.enseignant }} {{ emploitemp.salle }} {{ emploitemp.groupe_type }}</span><br>
                      {% endif %} 
                   {% endfor %}
         </span>
         <span class="our_cell" ></span>
         <span class="our_cell our_target" id="3">
              {% for emploitemp in emploitemps.first_third.all %}   
                {% if emploitemp.groupe_type == 'Cours' %}
                    <div data-module="{{ emploitemp.module }}">{{ emploitemp.module }}</div>
                    <div>{{ emploitemp.enseignant }}</div>
                    <div>{{ emploitemp.salle }}</div>
                {% elif emploitemp.groupe_type == 'TP' or emploitemp.groupe_type == 'TD' %} 
                    <span style="font-size: small; ">{{ emploitemp.groupe }} {{ emploitemp.module }} {{ emploitemp.enseignant }} {{ emploitemp.salle }} {{ emploitemp.groupe_type }}</span><br>
                {% endif %} 
              {% endfor %}
         </span>
         <span class="our_cell our_target" id="4">
            {% for emploitemp in emploitemps.first_forth.all %}   
            {% if emploitemp.groupe_type == 'Cours' %}
                <div data-module="{{ emploitemp.module }}">{{ emploitemp.module }}</div>
                <div>{{ emploitemp.enseignant }}</div>
                <div>{{ emploitemp.salle }}</div>
            {% elif emploitemp.groupe_type == 'TP' or emploitemp.groupe_type == 'TD' %} 
                <span style="font-size: small; ">{{ emploitemp.groupe }} {{ emploitemp.module }} {{ emploitemp.enseignant }} {{ emploitemp.salle }} {{ emploitemp.groupe_type }}</span><br>
            {% endif %} 
            {% endfor %}
         </span>
       </div>
       <div class="our_row">
          <span class="our_cell">Lundi</span>
         <span class="our_cell our_target" id="5">
          {% for emploitemp in emploitemps.second_first.all %}   
          {% if emploitemp.groupe_type == 'Cours' %}
              <div data-module="{{ emploitemp.module }}">{{ emploitemp.module }}</div>
              <div>{{ emploitemp.enseignant }}</div>
              <div>{{ emploitemp.salle }}</div>
          {% elif emploitemp.groupe_type == 'TP' or emploitemp.groupe_type == 'TD' %} 
              <span style="font-size: small; ">{{ emploitemp.groupe }} {{ emploitemp.module }} {{ emploitemp.enseignant }} {{ emploitemp.salle }} {{ emploitemp.groupe_type }}</span><br>
          {% endif %} 
        {% endfor %}
         </span>
         <span class="our_cell our_target" id="6">
            {% for emploitemp in emploitemps.second_second.all %}   
            {% if emploitemp.groupe_type == 'Cours' %}
                <div data-module="{{ emploitemp.module }}">{{ emploitemp.module }}</div>
                <div>{{ emploitemp.enseignant }}</div>
                <div>{{ emploitemp.salle }}</div>
            {% elif emploitemp.groupe_type == 'TP' or emploitemp.groupe_type == 'TD' %} 
                <span style="font-size: small; ">{{ emploitemp.groupe }} {{ emploitemp.module }} {{ emploitemp.enseignant }} {{ emploitemp.salle }} {{ emploitemp.groupe_type }}</span><br>
            {% endif %} 
          {% endfor %}
         </span>   
         <span class="our_cell" ></span>
         <span class="our_cell our_target" id="7">
          {% for emploitemp in emploitemps.second_third.all %}   
          {% if emploitemp.groupe_type == 'Cours' %}
              <div data-module="{{ emploitemp.module }}">{{ emploitemp.module }}</div>
              <div>{{ emploitemp.enseignant }}</div>
              <div>{{ emploitemp.salle }}</div>
          {% elif emploitemp.groupe_type == 'TP' or emploitemp.groupe_type == 'TD' %} 
              <span style="font-size: small; ">{{ emploitemp.groupe }} {{ emploitemp.module }} {{ emploitemp.enseignant }} {{ emploitemp.salle }} {{ emploitemp.groupe_type }}</span><br>
          {% endif %} 
        {% endfor %}
         </span>
         <span class="our_cell our_target" id="8">
          {% for emploitemp in emploitemps.second_forth.all %}   
          {% if emploitemp.groupe_type == 'Cours' %}
              <div data-module="{{ emploitemp.module }}">{{ emploitemp.module }}</div>
              <div>{{ emploitemp.enseignant }}</div>
              <div>{{ emploitemp.salle }}</div>
          {% elif emploitemp.groupe_type == 'TP' or emploitemp.groupe_type == 'TD' %} 
              <span style="font-size: small; ">{{ emploitemp.groupe }} {{ emploitemp.module }} {{ emploitemp.enseignant }} {{ emploitemp.salle }} {{ emploitemp.groupe_type }}</span><br>
          {% endif %} 
        {% endfor %}
         </span>
       </div>
       <div class="our_row">
         <span class="our_cell">Mardi</span>
         <span class="our_cell our_target" id="9">
          {% for emploitemp in emploitemps.third_first.all %}   
          {% if emploitemp.groupe_type == 'Cours' %}
              <div data-module="{{ emploitemp.module }}">{{ emploitemp.module }}</div>
              <div>{{ emploitemp.enseignant }}</div>
              <div>{{ emploitemp.salle }}</div>
          {% elif emploitemp.groupe_type == 'TP' or emploitemp.groupe_type == 'TD' %} 
              <span style="font-size: small; ">{{ emploitemp.groupe }} {{ emploitemp.module }} {{ emploitemp.enseignant }} {{ emploitemp.salle }} {{ emploitemp.groupe_type }}</span><br>
          {% endif %} 
          {% endfor %}
         </span>
         <span class="our_cell our_target" id="10">
          {% for emploitemp in emploitemps.third_second.all %}   
          {% if emploitemp.groupe_type == 'Cours' %}
              <div data-module="{{ emploitemp.module }}">{{ emploitemp.module }}</div>
              <div>{{ emploitemp.enseignant }}</div>
              <div>{{ emploitemp.salle }}</div>
          {% elif emploitemp.groupe_type == 'TP' or emploitemp.groupe_type == 'TD' %} 
              <span style="font-size: small; ">{{ emploitemp.groupe }} {{ emploitemp.module }} {{ emploitemp.enseignant }} {{ emploitemp.salle }} {{ emploitemp.groupe_type }}</span><br>
          {% endif %} 
          {% endfor %}
         </span>
         <span class="our_cell" ></span>
         <span class="our_cell our_target" id="11">
          {% for emploitemp in emploitemps.third_third.all %}   
          {% if emploitemp.groupe_type == 'Cours' %}
              <div data-module="{{ emploitemp.module }}">{{ emploitemp.module }}</div>
              <div>{{ emploitemp.enseignant }}</div>
              <div>{{ emploitemp.salle }}</div>
          {% elif emploitemp.groupe_type == 'TP' or emploitemp.groupe_type == 'TD' %} 
              <span style="font-size: small; ">{{ emploitemp.groupe }} {{ emploitemp.module }} {{ emploitemp.enseignant }} {{ emploitemp.salle }} {{ emploitemp.groupe_type }}</span><br>
          {% endif %} 
          {% endfor %}
         </span>
         <span class="our_cell our_target" id="12">
          {% for emploitemp in emploitemps.third_forth.all %}   
          {% if emploitemp.groupe_type == 'Cours' %}
              <div data-module="{{ emploitemp.module }}">{{ emploitemp.module }}</div>
              <div>{{ emploitemp.enseignant }}</div>
              <div>{{ emploitemp.salle }}</div>
          {% elif emploitemp.groupe_type == 'TP' or emploitemp.groupe_type == 'TD' %} 
              <span style="font-size: small; ">{{ emploitemp.groupe }} {{ emploitemp.module }} {{ emploitemp.enseignant }} {{ emploitemp.salle }} {{ emploitemp.groupe_type }}</span><br>
          {% endif %} 
          {% endfor %}
         </span>
       </div>
       <div class="our_row">
          <span class="our_cell">Mercredi</span>
         <span class="our_cell our_target" id="13">
          {% for emploitemp in emploitemps.forth_first.all %}   
          {% if emploitemp.groupe_type == 'Cours' %}
              <div data-module="{{ emploitemp.module }}">{{ emploitemp.module }}</div>
              <div>{{ emploitemp.enseignant }}</div>
              <div>{{ emploitemp.salle }}</div>
          {% elif emploitemp.groupe_type == 'TP' or emploitemp.groupe_type == 'TD' %} 
              <span style="font-size: small; ">{{ emploitemp.groupe }} {{ emploitemp.module }} {{ emploitemp.enseignant }} {{ emploitemp.salle }} {{ emploitemp.groupe_type }}</span><br>
          {% endif %} 
        {% endfor %}
         </span>
         <span class="our_cell our_target" id="14">
          {% for emploitemp in emploitemps.forth_second.all %}   
            {% if emploitemp.groupe_type == 'Cours' %}
                <div data-module="{{ emploitemp.module }}">{{ emploitemp.module }}</div>
                <div>{{ emploitemp.enseignant }}</div>
                <div>{{ emploitemp.salle }}</div>
            {% elif emploitemp.groupe_type == 'TP' or emploitemp.groupe_type == 'TD' %} 
                <span style="font-size: small; ">{{ emploitemp.groupe }} {{ emploitemp.module }} {{ emploitemp.enseignant }} {{ emploitemp.salle }} {{ emploitemp.groupe_type }}</span><br>
            {% endif %} 
          {% endfor %}
         </span>
         <span class="our_cell" ></span>
         <span class="our_cell our_target" id="15">
          {% for emploitemp in emploitemps.forth_third.all %}   
          {% if emploitemp.groupe_type == 'Cours' %}
              <div data-module="{{ emploitemp.module }}">{{ emploitemp.module }}</div>
              <div>{{ emploitemp.enseignant }}</div>
              <div>{{ emploitemp.salle }}</div>
          {% elif emploitemp.groupe_type == 'TP' or emploitemp.groupe_type == 'TD' %} 
              <span style="font-size: small; ">{{ emploitemp.groupe }} {{ emploitemp.module }} {{ emploitemp.enseignant }} {{ emploitemp.salle }} {{ emploitemp.groupe_type }}</span><br>
          {% endif %} 
        {% endfor %}
         </span>
         <span class="our_cell our_target" id="16">
          {% for emploitemp in emploitemps.forth_forth.all %}   
          {% if emploitemp.groupe_type == 'Cours' %}
              <div data-module="{{ emploitemp.module }}">{{ emploitemp.module }}</div>
              <div>{{ emploitemp.enseignant }}</div>
              <div>{{ emploitemp.salle }}</div>
          {% elif emploitemp.groupe_type == 'TP' or emploitemp.groupe_type == 'TD' %} 
              <span style="font-size: small; ">{{ emploitemp.groupe }} {{ emploitemp.module }} {{ emploitemp.enseignant }} {{ emploitemp.salle }} {{ emploitemp.groupe_type }}</span><br>
          {% endif %} 
          {% endfor %}
         </span>
       </div>
       <div class="our_row">
          <span class="our_cell">Jeudi</span>
         <span class="our_cell our_target" id="17">
          {% for emploitemp in emploitemps.fifth_first.all %}   
          {% if emploitemp.groupe_type == 'Cours' %}
              <div data-module="{{ emploitemp.module }}">{{ emploitemp.module }}</div>
              <div>{{ emploitemp.enseignant }}</div>
              <div>{{ emploitemp.salle }}</div>
          {% elif emploitemp.groupe_type == 'TP' or emploitemp.groupe_type == 'TD' %} 
              <span style="font-size: small; ">{{ emploitemp.groupe }} {{ emploitemp.module }} {{ emploitemp.enseignant }} {{ emploitemp.salle }} {{ emploitemp.groupe_type }}</span><br>
          {% endif %} 
          {% endfor %}
         </span>
         <span class="our_cell our_target" id="18">
            {% for emploitemp in emploitemps.fifth_second.all %}   
            {% if emploitemp.groupe_type == 'Cours' %}
                <div data-module="{{ emploitemp.module }}">{{ emploitemp.module }}</div>
                <div>{{ emploitemp.enseignant }}</div>
                <div>{{ emploitemp.salle }}</div>
            {% elif emploitemp.groupe_type == 'TP' or emploitemp.groupe_type == 'TD' %} 
                <span style="font-size: small; ">{{ emploitemp.groupe }} {{ emploitemp.module }} {{ emploitemp.enseignant }} {{ emploitemp.salle }} {{ emploitemp.groupe_type }}</span><br>
            {% endif %} 
            {% endfor %}
         </span>
         <span class="our_cell"></span>
         <span class="our_cell our_target" id="19">
          {% for emploitemp in emploitemps.fifth_third.all %}   
          {% if emploitemp.groupe_type == 'Cours' %}
              <div data-module="{{ emploitemp.module }}">{{ emploitemp.module }}</div>
              <div>{{ emploitemp.enseignant }}</div>
              <div>{{ emploitemp.salle }}</div>
          {% elif emploitemp.groupe_type == 'TP' or emploitemp.groupe_type == 'TD' %} 
              <span style="font-size: small; ">{{ emploitemp.groupe }} {{ emploitemp.module }} {{ emploitemp.enseignant }} {{ emploitemp.salle }} {{ emploitemp.groupe_type }}</span><br>
          {% endif %} 
          {% endfor %}
         </span>
         <span class="our_cell our_target" id="20">
            {% for emploitemp in emploitemps.fifth_forth.all %}   
            {% if emploitemp.groupe_type == 'Cours' %}
                <div data-module="{{ emploitemp.module }}">{{ emploitemp.module }}</div>
                <div>{{ emploitemp.enseignant }}</div>
                <div>{{ emploitemp.salle }}</div>
            {% elif emploitemp.groupe_type == 'TP' or emploitemp.groupe_type == 'TD' %} 
                <span style="font-size: small; ">{{ emploitemp.groupe }} {{ emploitemp.module }} {{ emploitemp.enseignant }} {{ emploitemp.salle }} {{ emploitemp.groupe_type }}</span><br>
            {% endif %} 
          {% endfor %}
         </span>
       </div>
    </div>
</div>
  

<div>
    <button class="btn btn-secondary float-right m-5" onclick="sendData()">
      Modifier
    </button>
</div>


<!-- Bootstrap Modal -->
<div class="modal fade" id="exampleModall" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">modifier periode</h5>
 
          <!-- <div class="alert alert-danger ml-4 text-center" role="alert">
           canvas tells that this module<a href="#" class="alert-link">(${module_value})</a>has just ${canvas_data[i].tp} TP per timetable
          </div> -->
 
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="confirmation">
                <p class="" style="color:#ea0a0a;">voulez-vous modifirer cette science </p>

                <div>
                    <span class="btn-cancel-modification" >annuler</span>
                    <span class="btn-confirm-modification">modifier</span>
                </div>
            </div>

          <div class="row pb" hidden>
            <label for="" class="pl-3 pr-3">voulez-vous sélectionner  des cours ou des (TDs & TPs)</label>
            <select name="emplois" class="selectpicker custom-select" style="width: 130px; position: relative;
                top: -6px;" data-style="btn-primary" id="select-TD-cours">
              <option value="" selected disabled >-select-</option>
              <option value="Cours">Cours</option>
              <option value="TD-TP">TD-TP</option>
            </select>
            <a class="text-primary ml-3 h6" name="button" id="choise">Next</a>
          </div>
          <div class="hidden-part" hidden>
           <label for="" class="pl-3 pr-3">combien de groupes étudieront cette période?</label>
           <!-- <input type="number" value="" placeholder="Number" class="group-numb-input"> -->
           <span id="group-numb-input"></span>
           <div style="display: inline;">
             <div id="arrow-up" style="display: inline; cursor:pointer;">
               <i class="fa fa-caret-up" aria-hidden="true"></i>
             </div>
             <div id="arrow-down" style="display: inline; cursor:pointer;">
               <i class="fa fa-caret-down" aria-hidden="true"></i>
             </div>
           </div>
           <a class="text-primary ml-2 h6" name="button" id="R-numb-btn">Submit</a>
          </div> 
           
          
          
          <div id="creates">
             <!-- here we will create our table -->
           </div>
 
           <button type="button" class="btn btn-danger mt-4" id="close">Fermer</button>
           <button type="button" name="myButton" class="btn btn-primary float-right mt-4" id="create" hidden>Créer</button>
        </div>
 
      </div>
    </div>
  </div>














<script defer src="{% static 'dashboard/js/update_timeT.js' %}"></script>
 

 {% endblock %}