{% extends "dashboard/admin_panel.html" %}




{% block content %}

  <div class="create-module-container">
    <div class="section-bar">update user information</div>
    <form method="post"> {% csrf_token %}
        <div class="row mb-5">
            
            {% for u in userForm %}
                <div class="col-md-6 mb-5">
                    {{u}}
                </div>
            {% endfor %}
        </div>

        <div class="section-bar">update permissions</div>

        <div class="permission-wrapper">
            <label for="{{staff.id_for_label}}">{{staff.label}}</label>
            {{staff}}
        </div>

        <input class="btn btn-success user-sub-btn" type="submit" value="submit">

        
    </form>
  </div>
  
  

{% endblock %}