/* @font-face {
    src: url("static/dashboard/fonts/Poppins-BlackItalic.ttf");
    font-family : Poppins
} */

/* #0f526d */
/* #ec1c23 */

/* @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"; */

body {
    font-family: Arial, Helvetica, sans-serif;
    background:  rgb(244, 245, 248);
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}


a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.wrapper {
    /* display: flex;
    width: 100%;
    align-items: stretch; */
    width: 100%;
    height: 100%;
    padding-left: 250px;

}

#content {
    /* float: right; */
    width: 50%;
    transition: all 0.3s ease 0s;
}

#content div.navBar {
    padding: 15px;
    background: #fff  !important;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 0 0 10px 0 rgb(218, 214, 214);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.navBar ul.float-right {
    margin-bottom: 0;
    margin-right: 15px;
}

.navBar li {
    list-style-type: none;
}

.navBar li.main-list {
    display: inline;
}

.navBar li.main-list .num-notif {
    padding: 0px 5px;
    background: red;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    right: 109px;
    top: 37px;
    font-size: 12px;
}

.navBar .float-right img {
    width: 40px; 
    border-radius: 50%;
}

.navBar .float-right img:hover {
    cursor: pointer;
}


.navBar div.profile-dropdown-list {
    /* visibility: hidden; */
    display: none;
    position: absolute;
    border: 1px solid #e6d9d9;
    background-color: #fff;
    top: 80px;
    right: 47px;
    padding: 15px 45px 7px 15px;
    z-index: 98;
}

.navBar div.bell-dropdown-list {
    /* visibility: hidden; */
    display: none;
    padding: 0;
    border-radius: 2%;
    position: absolute;
    border: 1px solid #e6d9d9;
    background-color: #fff;
    top: 80px;
    right: 47px;
    z-index: 98;
    box-shadow: 0px 1px 4px;
    width: 300px;
}


.navBar div.bell-dropdown-list li {
    padding: 1px 20px;
}

.navBar div.bell-dropdown-list li:hover {
    background-color:rgb(226 232 236);
}

.navBar div.bell-dropdown-list h4 {
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 0px;
    font-weight: bold;
}

.navBar div.bell-dropdown-list span {
    padding-top: 15px;
    padding-left: 15px;
    font-weight: bold;
}

.navBar div.bell-dropdown-list li p {
    color: #000;
    font-size: 15px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    line-height: 20px;
}

.navBar div.bell-dropdown-list li span{
    padding: 0;
    font-weight: 100;
    font-size: 15px;
}

.navBar div.bell-dropdown-list li p span{
    font-weight: bold;
    font-size: 15px;
}

/* .bell-dropdown-list li{
    padding: 4px 20px;
} */

#notif-btn-container {
    padding: 6px 16px 10px 30px;
}


#notif-btn-container .notif-confirm{
    padding: 4px 6px;
    background: #007bff;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
    margin-right: 6px;
}

#notif-btn-container .notif-suprimer{
    padding: 4px 6px;
    background: #a3a5ab;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
}

#notification-btn:hover{
    cursor: pointer;
}



/* .navBar div.show {
    display: none;
} */

.navBar div.dropdown-list ul {
    padding-left: 0;
    height: 318px;
    overflow: scroll;
    border-top: 1px solid #d6d6d6;
}


.navBar div.dropdown-list ul li:hover {
    
    cursor: pointer;
}

/* ---------------------------------------------------
    dashboard content
----------------------------------------------------- */
#content h4.main-title{
    background-color: #10526d;
    padding: 20px 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 5px;
    margin-bottom: 56px;
    color: #fff;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
/* light color: f8f9fa */

#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    height: 100vh;
    width: 250px;
    background-image: linear-gradient(#0f526d, #ec1c23);
    box-shadow: 0 0 10px 0 rgb(150, 146, 146);
    color: #fff;
    transition: all 0.3s ease 0s;
    overflow: scroll;
}

#sidebar::-webkit-scrollbar {
    display: none;
}



#sidebar .sidebar-header{
    padding: 20px;
}


#sidebar ul.components {
    padding: 20px 0;
}

#sidebar.active {
    margin-left: -250px;
}


#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}



#sidebar ul li.active>a, a[aria-expanded="true"] {
    color: #000;
    /* background: #6D7FCC; */
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}


/* dropdown styling_____________________________________ */
#sidebar li {
    padding: 7px auto;
    margin: 20px 0;
}


#sidebar .dropdown-btn {
    padding-left: 10px;
    font-size: 20px;
}


#sidebar .dropdown-btn:hover{
    cursor: pointer;
}
/* #sidebar .active{
    background-color: #c51111;
} */


#sidebar .dropdown-container{
    display: none;
    background-color:#021c27;;
    box-shadow: 1px 0px 9px 0px;
    margin-top: 4px;
    /* transition: all 300ms ease 0ms;  */
    /* transition-duration: 300ms;
    transition-property: display;
    transition-delay: 300ms; */
    
}

#sidebar .dropdown-container a{
    padding-left:  30px;
    font-size: 15px;
}

#sidebar .dropdown-container a:hover{
    color: rgb(235, 231, 15);
    font-size: 16px;
}


/* #sidebar .dropdown-container :hover{
    cursor: pointer;
} */





/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}


/* table part ====================================================================================== */
 div #table {
    background: #fff;
    box-shadow: 0 0 10px 0 rgb(150, 146, 146);
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }
}

.collapse ul li a.home {
    color:#ec1c23 !important;
}


.collapse ul li a.logou {
    color: #0f526d !important;

}

.collapse ul li a.logou:hover {
    background: #0f526d;
    color: #fff !important;
    border-radius: 5%;
}


table td .btn:first-child {
   margin-right:40px;
}

div.container-search {
    position: relative;
    margin-bottom: 100px;
}

form.search {
    position: absolute;
    left: 0;
}

button.adding {
    position: absolute;
    right: 0;
}

.ens {
    text-align: center;
    left: 100px;
}

.btns {
    text-align: center;
}






/* timetible part <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

div #table-container {
    margin-top: 7%;
    margin-left: 5%;
}


.our_table {
	display: table;
	box-shadow: 0 0 10px 0  rgb(73, 71, 71);
    width: 95%;
	height: 300px;
	border: 1px solid #CCC;
    text-align: center;
    background: #fff;
}

.our_table .our_row {
  display: table-row;
}

.our_table .our_row .our_cell {
	display: table-cell;
    border: 1px solid #CCC;
	vertical-align: middle;
	padding: 0;
}

.our_table .our_row .our_cell:first-child {
	color: #000;
	font-weight: bolder;
}

.our_table .our_row .times {
	color: #000;
	font-weight: bolder;
	border-bottom: 1px solid rgb(177, 173, 173); 
	background: rgb(236, 235, 235);
}


div span.our_target:hover {
    cursor: pointer;
    background-color: #ccc;
}

#timetable-name:hover {
    color: #0f526d;
    font-size: 1.1em;
}

#visible {
	display: none;
}


/* update timetable */


.confirmation {
    /* background: #ea0a0a; */
    border-radius: 8px;
    text-align: center;
    color: #fff;
}

.btn-confirm-modification {
    color: #ffffff;
    padding: 5px 20px;
    background-color: #05ab05;
    border-radius: 5%;
}


.btn-confirm-modification:hover, .btn-cancel-modification:hover {
    cursor: pointer;
}

.btn-cancel-modification {
    color: #ffffff;
    padding: 5px 20px;
    background-color: #ab2005;
    border-radius: 5%;
}











/* styling bootstrap modal popup ==============================================================*/
select#period-select {
    -moz-appearance:none;
    border: none;
    border-bottom: 1px solid #0f526d;   
}

option:first {
    color: #999;
}


a.text-primary:hover {
    cursor: pointer;
}


input#nbr-group{   
    -moz-appearance:textfield;
    border: none;
    border-bottom: 1px solid #0f526d;
}

.modal .group-numb-input {
    border: none;
    border-bottom: 1px solid #d6d7de;
}
/* .modal .group-numb-input:focus {
    border-bottom: 1px solid #007bff;
}

.modal .group-numb-input:focus::placeholder{
    color: #007bff;
    transform: translateY(-10px);
    font-size: 0.525em;
    cursor:default;
} */

input {
    outline: none;
}

input[type=select] {
    outline: none;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}



.hidden-part {
    display: inline;
}


/*----------------------------------------------------------------
    styling  creation of teachers  
----------------------------------------------------------------*/
.create-module-container .teacher-input {
    border: none;
    border-bottom: 1px solid #999;
    padding: 10px 0 0 0;
    margin-top: 60px;
    margin-left: 20px;
}

.create-module-container .teacher-input:focus {
    border-bottom: 2px solid #4caf50;
    transition: border-bottom .8s ease-out;
    will-change: border-bottom;
}


.create-module-container .teacher-input:focus::placeholder {
    
    color: #4caf50;
    cursor:default;
    font-size: 0.950em;
    transform: translateY(-15px);
    transition: transform .2s ease-out;
}



/*----------------------------------------------------------------
    styling  creation of modules  
----------------------------------------------------------------*/
div.create-module-container {
    /* border: 1px solid black; */
    background-color: #fff;
    width: 90%;
    position: relative;
    left: 5%;
    box-shadow: 0px 0px 17px -3px grey;
    padding: 40px;
    /* height: 80vh; */
}

.create-module-container .module-input {
    border: none;
    border-bottom: 1px solid #999;
    padding: 10px 0 0 0;
    margin-top: 60px;
    margin-left: 20px;
}

.create-module-container .module-input:focus {
    border-bottom: 2px solid #4caf50;
    transition: border-bottom .8s ease-out;
    will-change: border-bottom;
}


.create-module-container .module-input:focus::placeholder {
    
    color: #4caf50;
    cursor:default;
    font-size: 0.950em;
    transform: translateY(-15px);
    transition: transform .2s ease-out;
}


.create-module-container .module-input-condition {
    border: none;
    border-bottom: 1px solid #999;
    padding: 10px 0 0 0;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
}


.create-module-container .module-input-condition:focus {
    border-bottom: 2px solid #4caf50;
    transition: border-bottom .8s ease-out;
    will-change: border-bottom;
}

.create-module-container .module-input-condition:focus::placeholder {
    
    color: #4caf50;
    cursor:default;
    font-size: 0.950em;
    transform: translateY(-15px);
    transition: transform .2s ease-out;
}




.col-3 {
    float: center;
    width: 33%; 
    margin: 40px 4%; 
}

.create-module-container .module-select-input {
    width: 80%;
    border: none;
    border-bottom: 1px solid #999;
    padding: 10px 0 0 0;
}


/* .create-module-container - {
    width: 80%;
    border: none;
    border-bottom: 1px solid #999;
    padding: 10px 0 0 0;
} */

.bullets-style{
    list-style: none;
}

/* @media(max-width: 1200px) {
    div.create-module-container {
        position: relative;
        left: 50px;
    }
} */


/*----------------------------------------------------------------
    user styling
----------------------------------------------------------------*/


div.section-bar {
    padding: 5px; 
    width: 100%; 
    background-color: #12516c;
    color: #fff;
    margin-top: -10px;
}

#id_permissions{
    list-style-type: none;
}

.permission-wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    /* justify-content: space-between; */
    padding: 20px 17px;
}


label[for="id_permissions"]{
    display: inline-block;
    margin-bottom: .5rem;
    margin-right: 20px;
}

.module-input-unique {
    /* padding-right: 400px;
    margin-right: 44px;
    width: 600px; */

    background:none;
    width:auto;
    height:200px;
    padding:0;
    margin:0;
    border-width: 2px;
    border-style: inset;
    -moz-appearance: menulist;
    -webkit-appearance: menulist;
    appearance: menulist;
}
.user-sub-btn {
    float: right;
    position: relative;
    bottom: 20px;
}


/*----------------------------------------------------------------
    reserve material styling
----------------------------------------------------------------*/
.btn-reserve {
    padding: 2px 15px;
    width: 109px;
    border-radius: 5%;
}

.return-material-btn{
    padding: 2px 15px;
    width: 109px;
    border-radius: 5%;
}


.thumbnail{
	height: 45px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}



/* time table popup error ________________________________________________________________*/
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  

  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #c51111;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .popup-tt-name-close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  
  .popup .content {
    max-height: 30%;
    overflow: auto;
    color: red
  }
  .error-input-message{
    background: #f9e7e7;
    padding: 1px 8px;
    margin-top: 9px;
  }

/* module completion worning modal */
.module-modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    /* top: 0; */
    top: -130px;
    /* height: 100%; */
    width: 100%;
    height: 100%;
    /* overflow: auto; */
    background-color: rgba(0, 0, 0, 0.5);
}
  
  
.module-modal-content {
    position: relative;
    background-color: #F4F4F4;
    margin: 20% auto;
    width: 50%;
    height: auto;
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    animation-name: modalopen;
    animation-duration: 1s;
    /* overflow: scroll; */
}

.module-modal-content2 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}
  
  
.module-modal-header h2, .module-modal-footer h3 {
    margin: 0;
}
  
  
.module-modal-header {
    background: coral;
    padding: 15px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.module-modal-body {
    padding: 10px 20px;
}
.modal-body p {
    background-color: rgb(241, 241, 121);
    border: 1px solid yellow;
    padding: 10px;
    color: #000;
    text-align: center;
}



/* .module-modal-body-container {
} */


.module-modal-footer {
    background: coral;
    padding: 15px;
    color: #fff;
    text-align: center;
}


#closeBtn {
    color: #fff;
    /* float: right; */
    font-size: 30px;
}


#closeBtn:hover, #closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen {
    from{opacity: 0}
    to{opacity: 1}
}


/* #sidebar::-webkit-scrollbar {
    display: none;
} */